@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300&display=swap');

@media (max-width:600px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
body {
    display: flex;
    justify-content: center;
    background-color: rgb(251, 250, 205); 
    color: rgb(144, 94, 150);
}

.titulo {
    font-size: 3.4rem;
    font-family: 'Rasa', serif;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 2rem;
}

.subtitulo {
    font-family: 'Rasa', serif;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-bottom: 2rem;
}

.logInContainer {
    background-color: white;
    height: 10rem;
    width: 5rem;
}

.inputs {
    background: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    margin: 1rem 3rem 1rem;
    font-family: 'Anton', sans-serif;
    text-align: center;
    color: rgb(81, 36, 86);
    font-size: 1rem;
}

.botones {
    background: rgb(81, 36, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3rem;
    border-radius: 10px;
    /*border: 1%;*/
    margin: 1rem 3rem 2rem;
    font-family: 'Anton', sans-serif;
    color: white;
    font-size: 1rem;

}

#btnlogInGoogle {
    background-color: white;
    color: gray;
    border: none;
}

.errors {
    /*estilo*/
    font-family: Arial, Helvetica, sans-serif;
    size: 1rem;
    color: red;
    justify-content: center;
    align-self: center;
    margin: 0rem 4rem 0.5rem;
}

.hide {
    display: none;
}
.imgContainer {
    display: none   !important;
}
/* estilo de boton google*/
.googleIcon{
    /* se agrega imagen desde carpeta como fondo*/
    background-image: url("img/boton_goo.PNG");
    /* background position para que la imagen quede centrada, no desaparezca*/
    background-position:center;
    /* mismo formato que botones del home*/
    background-size: contain;
    width: 15rem;
    height: 3rem;
    border-radius: 10px;
    justify-content: center;
    align-self: center;
    margin: 0rem 2rem 1rem;
}
     /* style del feed */    
     /* #feedContainer {
        display: flex;
        justify-content: center;
        align-items: column;
        flex-direction: column;
        margin: 0.5rem 0.1rem 0.5rem;
    } */

    .postIndividual{
        background-color: white;
        text-align: center;
    }

    #tituloMuro {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        margin: 0.2rem;
    }
    
    #postTitle {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        margin: 1rem;
    }

    #taskForm {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin: 1rem;
    }
    #postText {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        margin: 0.2rem;
    }
    #botonGuardar {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0.2rem;
    }

}
@media (max-width: 1600px) and (min-width: 601px){
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .homeDiv{
        align-items: center;
    }
    
    .deskContainer{
        display: flex;
        margin: auto;
        position: absolute;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    .homeContainer{
       margin: 50px;
       padding: 50px;
       flex-direction: column;
       display: flex;

    }

    .imgContainer{
        background-image: url("img/coding.png");
        width: 40%;
        height: 70%;
        background-size: cover;
        background-position:center;
        position: relative;
        background-repeat: no-repeat;
        margin: auto;
        padding: 150px;

    }

    .titulo {
        font-size: 4rem;
        font-family: 'Rasa', serif;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-top: 15px;
    }
    
    .subtitulo {
        font-family: 'Rasa', serif;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items:center;
        text-align: center;
    }
     body {
        background-color: rgb(251, 250, 205);
        color: rgb(144, 94, 150);
    } 
    
    .botones {
        /* background: rgb(222, 186, 206); */
        background: rgb(81, 36, 86);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 11rem;
        height: 3rem;
        border-radius: 10px;
        /*border: 1%;*/
        margin: 30px;
        margin-left: 25%;
        font-family: 'Anton', sans-serif;
        color: white;
        font-size: 1rem;
        /* font-weight: bold; */
    
    }
    
    .inputs {
        background: rgb(253, 253, 253);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 2rem;
        border-radius: 10px;
        border: none;
        margin: 25px;
        margin-left: 18%;
        font-family: 'Anton', sans-serif;
        color: rgb(81, 36, 86);
        font-size: 1rem;
    }
    
    #btnlogInGoogle {
        background-color: white;
        color: gray;
        border: none;
    }
    
    .errors {
        /*estilo*/
        font-family: Arial, Helvetica, sans-serif;
        color: red;
        justify-content: center;
    }
    
    .hide {
        display: none;
    }
    /* icono de boton google */
    .googleIcon{
        background-image: url("img/boton_goo.PNG");
        background-position:center;
        width: 15rem;
        height: 3rem;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        margin: 25px;
        margin-left: 18%;
        background-size: cover;
        
    }

    /* style del feed */    
    /* #feedContainer {
        display: flex;
        justify-content: center;
        align-items: column;
        flex-direction: column;
        margin: 0.5rem 0.1rem 0.5rem;
    } */
    
    .postIndividual{
        background-color: white;
        text-align: center;
        justify-content: space-between;
        width: 25rem;
        height: 6rem;
        margin: 2rem auto 2rem;
        border-radius: 10%;
    }

    #tituloMuro {
        display: flex;
        justify-content: center;
        align-self: flex-start;
        margin: 0.2rem;
    }
    
    #postTitle {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        color: black;
        margin: 1rem;
    }

    #taskForm {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        margin: 1rem;
    }
    #postText {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        text-align: center;
        margin: 1rem;
    }
    #botonGuardar {
        display: flex;
        justify-content: center;
        align-self: center;
        margin: 0.2rem;
    }

}
.description-text{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    justify-content: center;

}

/*tabletas (768px), */

/**********************************************Código del FEED***********************************************/
.divPadre {
    border: 1rem;
    border-color: black;
}
#inputPost {
    border: 1rem;
    border-color: black;
}