@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300&display=swap');


body {
    background-color: rgb(251, 250, 205);
    color: rgb(144, 94, 150);
}


.titulo {
    font-size: 4rem;
    font-family: 'Rasa', serif;
    display: flex;
    justify-content: center;
    align-items:center;
}

.subtitulo {
    font-family: 'Rasa', serif;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}

.botones {
    background: rgb(222, 186, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 3rem;
    border-radius: 10px;
    /*border: 1%;*/
    margin: 30px;
    margin-left: 25%;
    font-family: 'Anton', sans-serif;
    color: rgb(81, 36, 86);
    font-size: 1rem;
    font-weight: bold;

}

.inputs {
    background: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2rem;
    border-radius: 10px;
    border: none;
    margin: 25px;
    margin-left: 18%;
    font-family: 'Anton', sans-serif;
    color: rgb(81, 36, 86);
    font-size: 1rem;
}

#btnlogInGoogle {
    background-color: white;
    color: gray;
    border: none;
}

.errors {
    /*estilo*/
    color: red;
}

.hide {
    display: none;
}